.jmbo {
  font-family: "Courier New", Courier, monospace;
  margin-top: 150px;
}

.jmboctr {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.jmbttl {
  font-size: 35pt;
}
.jmbpara {
  font-size: large;
}

.applbtn {
  padding: 0px 0px 0px 0px;
  font-weight: 1000 !important;
  font-size: 14pt !important;
  font-family: "Courier New", Courier, monospace;
  width: 200px;
  height: 40px;
  background-color: #ff4242 !important ;
  border-radius: 0px 0px 5px 5px;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: fixed;
  /* right: -105px; */
  left: -80px;
  top: 240px;
  z-index: 1;
}
.applbtn1 {
  padding: 0px 0px 0px 0px;
  font-weight: 1000 !important;
  font-size: 14pt !important;
  font-family: "Courier New", Courier, monospace;
  width: 300px;
  height: 50px;
  background-color: #ff4242 !important ;
  border-radius: 0px 0px 5px 5px;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: fixed;
  right: -120px;
  /* left: -120px; */
  top: 400px;
  z-index: 1;
}

.applbtn:hover {
  background-color: #5fbb97 !important;
}

.applbtn1:hover {
    background-color: #5fbb97 !important;
  }
  