.jmbo{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 150px;
}

.jmboctr{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.jmbttl{
    font-size: 35pt;
}
.jmbpara{
    font-size: large;
}
